@model EmployeeDBApplication.Models.Department_Position


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Department_Position</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Department.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Department.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Position.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Position.Name)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id_D_P }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
